.maincontainer {
  display: block;
  @include resetmp;
  position: absolute;
  width: max-content;
  border-radius: 5%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgb(0, 0, 0);
  color: whitesmoke;
  padding: 2rem;
  height: 50%;
}
